---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import Scrolling from "../components/Scrolling.astro";
import Indsats from "../components/Indsats.astro";
import CardPunkt from "../components/CardPunkt.astro";
---

<MainLayout title="CleanUp">
<main>
<section  class="pt-4 grid gap-8 md:grid-cols-2">
    <section>
        <div> 
            <Scrolling variant="primary" size="large">Slet, sorter og systematisér dine digitale spor</Scrolling>
        </div>
        <div>
            <h2>Digital oprdysning dag 17.03.2025</h2>
            <Button>Vis din indsats</Button>
        </div>
        <div>
            <img src="/public/digitalskraldespand.svg" alt="skraldespand">
        </div>

    </section>
</section>
    <section>
        <div>
            <img src="/public/spørgsmålstegn.svg" alt="spørgsmålstegn">
        </div>
        <div>
            <h2>Hvad er digitalt skrald</h2>
            <p>Digital oprydnings dag er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. I sit femte år og organiseret af Let's Do It World, handler dagen om at skabe opmærksomhed om digital forurening og opfordre både personer og virksomheder til at decluttere og omstrukturere deres online tilstedeværelse</p>
            <p>Er du klar til at gøre en forskel? </p>
            <p>Det er tid til at slette, sortere og systematisere, så vi sammen kan efterlade et lettere og mere bæredygtigt digitalt aftryk!</p>
        </div>
    </section>
    <section class="bg-green-20">
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-10 mt-32 justify-center ">
    <CardPunkt
        imageSrc="/public/fabrik.svg" 
        imageAlt="fabrik" 
        title="Kæmpe energiforbrug" 
        text="Bitcoin-mining bruger mere energi end hele New Zealand på et år! Dataforbrug kræver tre gange mere energi, end verdens solpaneler kan producere." 
    />
    <CardPunkt
        imageSrc="/public/laptopco2.svg" 
        imageAlt="laptop" 
        title="Eksplosion i datamængder" 
        text="I 2007 blev der skabt 1 zettabyte data – i 2035 vil vi nå over 2.000 zettabytes. 99% af al data er skabt inden for de sidste 10 år." 
    />
    <CardPunkt
        imageSrc="/public/co2_wifi.svg" 
        imageAlt="co2" 
        title="Internet & CO2-udledning " 
        text="Internettet udleder over 900 millioner tons CO2 årligt. 70 millioner servere lagrede data i 2022 – 20 millioner blev e-affald." 
    />
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8  justify-center">
    <CardPunkt
        imageSrc="/public/skraldespand_spild.svg" 
        imageAlt="tom skraldespand" 
        title="Ubrugt data & spild" 
        text="90% af al data bliver aldrig tilgået efter tre måneder. 91% af websider får ingen trafik fra Google." 
    />
    <CardPunkt
        imageSrc="/public/email.svg" 
        imageAlt="E-mails & CO2" 
        title="E-mails & CO2" 
        text="320 milliarder e-mails sendes dagligt – 62 billioner spam-mails årligt skaber 20 millioner tons CO2! Én e-mail udleder i gennemsnit 4 g CO2 – svarende til en tændt pære i 6 minutter." 
    />
</div>
</section>


<Scrolling></Scrolling>
<Indsats></Indsats>

</main>
</MainLayout>
