---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import { Image } from 'astro:assets';
import Indsats from "../components/Indsats.astro";
import Link from '../components/Link.astro';

---

<MainLayout title="oprydsningsguide">
<main>

<section>
    <div>
        <img src="/public/digitalskraldespand.svg" alt="digitalskraldespand">
    </div>
    <div>
        <h2>Oprydsningsguide</h2>
        <h3>Inspiration & værktøjer til en grønnere digital fremtid</h3>
       
        <ol class="underline text-orange" >
            <li><Link>1. Retningslinjer for enkeltpersoner</Link></li>
            <li><Link>2. Sådan rydder du op på din computer og Drive</Link></li>
            <li><Link>3. Sådan rydder du op i dine e-mails</Link></li>        
            <li><Link>4. Sådan rydder du op på din smartphone og tablet</Link></li>
            <li><Link>5. Indsamling af deltagerdata 1</Link></li>
            <li><Link>6. Indsamling af deltagerdata 2</Link></li>
            <li><Link>7. Markedsføringsmateriale</Link></li>          
        </ol>
    </div>
</section>    

    <Indsats></Indsats>
</main>
</MainLayout>