---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import CardTrin from '../components/CardTrin.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Indsats from "../components/Indsats.astro";
---



<MainLayout title="CleanUp">
    <main>
    <section  class="pt-15 grid gap-8 md:grid-cols-2 mx-32 ">
        <div>
    <h1 class="font-Poppins text-black font-bold text-4xl">Ryd op digitalt</h1>
    <h2 class="font-Poppins text-black font-medium text-3xl pb-6 pt-2">15.03.2025</h2>
    <Button class="pt-4">Vis din indsats</Button>
</div>
<div>
    <img class="h-120" src="/public/digitalskraldespand.svg" alt="skraldespand">
</div>
</section>
    <section class="bg-green-20">
        <h1 class="text-black font-bold text-3xl mx-32 p-6">4 enkle trin for en grønnere digital fremtid</h1>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6 justify-center ">
                <CardTrin
                    imageSrc="/public/1.svg" 
                    imageAlt="1" 
                    title="Ryd op på din smartphone" 
                    text="Slet apps, du ikke bruger – de bruger energi selv, når de er inaktive. Fjern gamle brugerprofiler og konti, du ikke længere bruger. Gennemgå dine billeder og videoer – slet dubletter og unødvendige filer." 
                />
                <CardTrin
                    imageSrc="/public/2.svg" 
                    imageAlt="2" 
                    title="Organiser din computer" 
                    text="Slet ubrugelige filer, dubletter og slørede billeder. Ryd op i gamle video- og dokumentfiler – arkivér kun det vigtige. Se vejledningen for en mere effektiv oprydning." 
                />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-10 mt-32 justify-center ">
                <CardTrin
                    imageSrc="/public/3.svg" 
                    imageAlt="3" 
                    title="Rens din indbakke" 
                    text="Sortér mails efter ældste dato og arkivér vigtige beskeder. Afmeld nyhedsbreve, du ikke læser. Slet gamle e-mailtråde – behold kun de nyeste svar." 
                />
                <CardTrin
                    imageSrc="/public/4.svg" 
                    imageAlt="4" 
                    title="Skab nye digitale vaner" 
                    text="Brug færre mails – undgå unødvendige ok og tak beskeder. Gem vigtige filer ét sted i skyen i stedet for at kopiere dem overalt. Begræns streaming, gaming og sociale medier for at reducere dit digitale aftryk." 
                />
            </div>
        </div>
        <div class="flex flex-row items-center justify-end p-6">
            <Button>Læs mere</Button>
        </div>
    </section>
    <section>
        <Indsats></Indsats>
    </section>     
    </main>
    </MainLayout>
    