---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Scrolling from '../components/Scrolling.astro';
import CardTrin from '../components/CardTrin.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Indsats from "../components/Indsats.astro";
---

<MainLayout title="CleanUp">
    <main>
        <Scrolling variant="primary" size="large">VIS DIN INDSATS</Scrolling>
    <section  class="pt-4 grid gap-8 md:grid-cols-2 border-green border-2 rounded-md mx-32 pb-4">
    <div>
    <img class="h-130 px-8" src="/public/jordklode_stjerner.svg" alt="jordklode">
    </div>
<div class="pb-4">
    <form method="post" class="p-8 text-xl">
    <div class="pt-5">
    <div>
        <input type="text" id="fornavn" name="fornavn" class="mt-1 block w-full rounded-md bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" placeholder="Navn"><br>
    </div>
    </div>
    <div>
        <input type="text" id="efternavn" name="efternavn" class="mt-1 block w-full rounded-md bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" placeholder="Efternavn"><br>
    </div>
    <div>
        <input type="email" id="email" name="email" class="mt-1 block w-full rounded-md bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" placeholder="E-mail"><br>
    </div>
    <div>
        <input type="text" id="gb" name="gb" class="mt-1 block w-full rounded-md bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" placeholder="Slettet data i GB"><br>
    </div>
    <div>
        <input type="text" id="land" name="land" class="mt-1 block w-full rounded-md bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" placeholder="Land"><br>
    </div>
        <section class="flex flex-row">
            <div>
        <input type="checkbox" id="checkbox" name="checkbox" class="py-2 rounded-sm bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" checked=""><br>
    </div>
    <p class="text-base font-light">Jeg accepterer vilkår & betingelser</p>
</section>
<section class="flex flex-row">
    <div>
        <input type="checkbox" id="checkbox" name="checkbox" class=" font-light rounded-sm bg-grey shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50" checked=""><br>
    </div>
    <div>
        <p class="text-base font-light">Ja tak, til at modtage nyhedsbreve</p>
    </div>
    </section>
<div class="text-right">
    <Button variant="primary" size="medium" class="ml-auto px-4 py-2">Fortsæt</Button>
</div>
      </form>
</div>
    </section>     
    </main>
    </MainLayout>
    