---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import CardTrin from '../components/CardTrin.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Indsats from "../components/Indsats.astro";
---

<MainLayout title="CleanUp">
    <main>
    <section  class="pt-4 grid gap-8 md:grid-cols-2">
<h1>Scrolling text</h1>
<section>
    <div>
    <img src="/public/jordklode_stjerner.svg" alt="jordklode">
    </div>
<div>
    <form method="post" class="border-red-800 border-2 p-8 font-[Loved_by_the_King] text-xl">
        <div class="grid grid-cols-5">
            <div>
            <label for="antal" class="text-gray-900 pb-5">Levering</label><br>
        </div>
        <div>
            <input type="number" id="antal" name="antal" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"><br>
        </div>
    </div>
    <div class="grid grid-cols-5">
        <div>
        <input type="radio" id="radio" name="radio" class="border-2 border-red-800 text-red-800 shadow-sm focus:border-red-800 focus:ring focus:ring-offset-0 focus:ring-red-800 focus:ring-opacity-50" checked="">PostDK<br>
    </div>
    <div>
        <input type="radio" id="radio" name="radio" class="border-2 border-red-800 text-red-800 shadow-sm focus:border-red-800 focus:ring focus:ring-offset-0 focus:ring-red-800 focus:ring-opacity-50" checked="">Afhent<br>
    </div>
    </div>
    <div class="pt-5">
        <input type="text" id="fname" name="fname" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="Navn"><br>
    </div>
    <div>
        <input type="text" id="address" name="address" class="mt-1 block w-full border-2  border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="Adresse"><br>
    </div>
    <div>
        <input type="email" id="email" name="email" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="E-mail"><br>
    </div>
    <section class="grid grid-cols-2 gap-2">
    <div>
        <input type="text" id="postnummer" name="postnummer" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="Postnr."><br>
    </div>
    <div>
        <input type="text" id="bynavn" name="bynavn" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="By"><br>
    </div>
</section>
    <div>
        <input type="tel" id="tel" name="tel" class="mt-1 block w-full border-2 border-red-800 shadow-sm focus:border-black focus:ring focus:ring-black focus:ring-opacity-50" placeholder="Tlf.nr."><br>
    </div>
    <div class="pb-4 grid grid-cols-2">
        <div>
        <input type="checkbox" id="checkbox" name="checkbox" class="border-2 border-red-800 text-red-800 shadow-sm focus:border-red-800 focus:ring focus:ring-offset-0 focus:ring-red-800 focus:ring-opacity-50" checked="">Jeg vil gerne tilmedles nyhedsmail<br>
    </div>
        <div class="text-right">
            <Button variant="primary" size="medium" class="ml-auto px-4 py-2">Fortsæt</Button>
        </div>
    </div>
      </form>
</div>
</section>
    </section>     
    </main>
    </MainLayout>
    