---
import tailwind from "../styles/tailwind.css";
---

<div class="bg-green-20 w-full p-10 text-black">
    <h3 class="justify-self-center mb-10 text-xl font-bold" >Digital oprydningsdag i tal</h3>

<section class=" grid grid-cols-3 gap-4 mx-auto w-fit mb-10 text-center">
    <div >
        <img src="/deltagere.svg" alt="deltagere" class="w-24 h-24 object-contain">
        <p class="text-green" >1,1184,747</p>
        <p class="font-bold" >Deltagere</p>
    </div>
    <div>

        <img src="/fuldskraldespand.svg" alt="skraldespand" class="w-24 h-24 object-contain">
        <p class="text-green" >14,5m GB</p>
        <p class="font-bold">Slettede data</p>
    </div>
    <div>
        <img src="/gladjordklode.svg" alt="jordklode" class="w-24 h-24 object-contain">
        <p class="text-green" >3,625 tons</p>
        <p class="font-bold">CO2-besparelse</p>
    </div>
</section>
<p class="text-center mx-auto w-fit font-light text-xs ">
    Det er tid til at slette, sortere og systematisere <br><br>
    så vi sammen kan efterlade et lettere og mere bæredygtigt digitalt aftryk!
</p>

 </div>  

