---
---
<div class="p-4 pt-6 text-sm italic text-center items-center mx-auto max-w-sm">
<section class=" grid grid-cols-2 gap-4">
<div>
    <p>Lavet med masser af hårdt arbejde af Sten Simons </p>
</div>
<div>
    <img src="https://i.imgur.com/E01BW5h.jpeg" alt="p">
</div>
</section>
    <p>Copyright 2025 Sten Simons & forlaget Mellem Linjerne </p>
</div>