---
import Link from '../components/Link.astro';

---


<div x-data="{ showmenu: false }" class="hidden sm:block w-full bg-green-20 p-4">  
    <section id="navbar" class="flex flex-row justify-between items-center">
      <nav id="desktopmenu" class="hidden lg:block">
          <ul class="flex flex-row gap-8">
              <li><Link href="/ryd_op_digitalt" variant="primary" size="medium" >Ryd op digitalt</Link></li>
              <li><Link href="/oprydningsguide" variant="primary" size="medium">Oprydningsguide</Link></li>
              <li><Link href="/vis_din_indsats" variant="primary" size="medium">Vis din indsats</Link></li>
          </ul>
      </nav>

      <div class="flex flex-row items-center gap-8">
          <p class="text-green font-bold text-2xl">15.03.2025</p>
          <a href="/">
              <img src="/logo.svg" alt="logo" class="h-20">
          </a>
      </div>
  </section>


  <button id="burgermenu"
      class="lg:hidden font-Poppins text-2xl relative inline-block text-black after:block after:w-0 after:h-[2px] after:bg-red-800 after:transition-all after:duration-300 hover:after:w-full"
      x-on:click="showmenu = !showmenu">
  </button>
</div>

