---
import Button from '../components/Button.astro';
---

<section class="flex flex-col items-center justify-center p-9">
    <img class="h-50" src="/genbrugsikon.svg" alt="genbrug">
    <h2 class="text-black font-bold text-center text-2xl">Oprydning starter med ét klik – er du klar?</h2>
    <div class="flex flex-row items-center justify-center pt-6">
        <Button>Vis din indsats</Button>
    </div>
</section>
