---
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "duration-1000 font-Poppins";

const variantClasses = {
    "textlink": "underline text-blue-800",
    "primary": "inline-block text-black my-4 px-8 py-2 hover:text-orange  aria-[current=page]:text-orange-500",
    "secondary": "inline-block text-black my-4 px-8 py-2 "
};

const sizeClasses = {
    "standard": "hover:font-bold",
    "large": "text-xl uppercase",
    "medium": "text-lg",
    "small": "text-md"
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
    <slot />
</a>
