---
const { variant = "primary", size = "medium" } = Astro.props;

const scrollingStyling = "duration-1000 font-Poppins";

const variantClasses = {
    "primary": "text-orange uppercase",
    "secondary": "text-black uppercase"
};

const sizeClasses = {
    "standard": "hover:font-bold",
    "large": "text-8xl px-8",
    "medium": "text-lg",
    "small": "text-md"
};
---

<div class="w-full py-4">
    <div class="flex animate-marquee">
      <div class="flex space-x-4 w-max">
          <h1 class:list={[scrollingStyling, variantClasses[variant], sizeClasses[size]]}>
            <slot />
          </h1>
      </div>
    </div>
  </div>
  
  <style>
    @keyframes marquee {
      from { transform: translateX(100%); }
      to { transform: translateX(-100%); }
    }
  
    .animate-marquee {
      display: flex;
      width: max-content;
      animation: marquee 12s linear infinite;
    }
  </style>
  
  